#pageWrapper {
    text-align: center;
    /*border-style: solid;*/
    border-width: 4px;
    border-radius: 4px;
    margin: 10px 10px auto;
}
.topMenuOption {
	background: #444444;
	border-radius: 5px;
	padding: 1px 15px;
	color: white;
	text-decoration: none;
}
.centered {
    display: flex;
    justify-content: center;
}