<header>
    <h1>NBA 2017 Post Season Bracket</h1>
</header>

<article>
    <ol class="west round1">
        <li class="seed1">
            <div>
            	<span class="rank">1</span>
                <img src="src/img/bracket/nba/Golden_State_Warriors.svg">
            </div>
        </li>
        <li class="seed8">
            <div>
            	<span class="rank">8</span>
                <img src="src/img/bracket/nba/Portland_Trail_Blazers.svg">
            </div>
        </li>
        <li class="seed4">
            <div>
            	<span class="rank">4</span>
                <img src="src/img/bracket/nba/Clippers.svg">
            </div>
        </li>
        <li class="seed5">
            <div>
            	<span class="rank">5</span>
                <img src="src/img/bracket/nba/Utah_Jazz.svg">
            </div>
        </li>
        <li class="seed2">
            <div>
            	<span class="rank">2</span>
                <img src="src/img/bracket/nba/San_Antonio_Spurs.svg">
            </div>
        </li>
        <li class="seed7">
            <div>
            	<span class="rank">7</span>
                <img src="src/img/bracket/nba/Memphis_Grizzlies.svg">
            </div>
        </li>
        <li class="seed3">
            <div>
            	<span class="rank">3</span>
                <img src="src/img/bracket/nba/Houston_Rockets.svg">
            </div>
        </li>
        <li class="seed6">
            <span class="rank">6</span>
            <div>
                <img src="src/img/bracket/nba/Oklahoma_City_Thunder.gif">
            </div>
        </li>
    </ol>
    
    <ol class="west round2">
        <li class="seed1-8">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed4-5">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed2-7">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="west round3">
        <li class="seed1-8-4-5">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed2-7-3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="west round4">
        <li class="seed1-8-4-5-2-7-3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="champion">
        <li class="seed1-8-4-5-2-7-3-6-1-8-4-5-2-7-3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="east round1">
        <li class="seed1">
            <div>
            	<span class="rank">1</span>
                <img src="src/img/bracket/nba/Boston_Celtics.svg">
            </div>
        </li>
        <li class="seed8">
            <div>
            	<span class="rank">8</span>
                <img src="src/img/bracket/nba/Chicago_Bulls.svg">
            </div>
        </li>
        <li class="seed4">
            <div>
            	<span class="rank">4</span>
                <img src="src/img/bracket/nba/Washington_Wizards.svg">
            </div>
        </li>
        <li class="seed5">
            <div>
            	<span class="rank">5</span>
                <img src="src/img/bracket/nba/Atlanta_Hawks.svg">
            </div>
        </li>
        <li class="seed2">
            <div>
            	<span class="rank">2</span>
                <img src="src/img/bracket/nba/Cleveland_Cavaliers.svg">
            </div>
        </li>
        <li class="seed7">
            <div>
            	<span class="rank">7</span>
                <img src="src/img/bracket/nba/Indiana_Pacers.svg">
            </div>
        </li>
        <li class="seed3">
            <div>
            	<span class="rank">3</span>
                <img src="src/img/bracket/nba/Toronto_Raptors.svg">
            </div>
        </li>
        <li class="seed6">
            <div>
            	<span class="rank">6</span>
                <img src="src/img/bracket/nba/Milwaukee_Bucks.svg">
            </div>
        </li>
    </ol>
    
    <ol class="east round2">
        <li class="seed1-8">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed4-5">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed2-7">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="east round3">
        <li class="seed1-8-4-5">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed2-7-3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="east round4">
        <li class="seed1-8-4-5-2-7-3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
</article>

<script type="text/javascript" src="app.js">
/* jshint browser:true */
var app = app || {};

/**
 * setup: for initializing basic page functionality
 */
app.setup = function () {
    'use strict';
    
    var i,
        j,
        newMatchups,
        curRound = 1,
        NUM_ROUNDS = 4,
        sides = ['east', 'west'],
        matchups = [[1, 8], [4, 5], [2, 7], [3, 6], [1, 8], [4, 5], [2, 7], [3, 6]],
        roundX,
        team1,
        team2,
        winSlot,
        allInputs = document.getElementsByTagName("input"),
        setTeamOnClick,
        verifyInput;
    
    // Takes an li and sets the child img onclick
    setTeamOnClick = function (curSlot, nextSlot) {
        var img = curSlot.getElementsByTagName("img")[0],
            nextImg = nextSlot.getElementsByTagName("img")[0];
        
        img.onclick = function (event) {
            nextImg.src = img.src;
        };
    };
    
    // Validates input in series scoring
    verifyInput = function (e) {
        e = e || window.event;
        var keyChar = String.fromCharCode(e.keyCode),
            input = e.target || e.srcElement;
        
        if (keyChar < '0' || keyChar > '4') {
            return false;
        } else {
            input.value = "";
        }
    };
    
    // Set up onClicks for all images
    while (curRound <= NUM_ROUNDS) {
        // Go through east and west
        for (i = 0; i < sides.length; i += 1) {
            roundX = document.getElementsByClassName(sides[i] + " round" + curRound)[0];
            
            // Go through each matchup
            for (j = 0; j < matchups.length / 2; j += 1) {
                team1 = roundX.getElementsByClassName("seed" + matchups[j][0])[0];
                team2 = roundX.getElementsByClassName("seed" + matchups[j][1])[0];

                if (curRound < 4) {
                    winSlot = document.getElementsByClassName(sides[i] + " round" + (curRound + 1))[0];
                } else {
                    winSlot = document.getElementsByClassName("champion")[0];
                }

                setTeamOnClick(team1, winSlot.getElementsByClassName("seed" + matchups[j][0] + "-" + matchups[j][1])[0]);
                setTeamOnClick(team2, winSlot.getElementsByClassName("seed" + matchups[j][0] + "-" + matchups[j][1])[0]);
            }
        }

        // Merge
        if (curRound < 4) {
            newMatchups = [];
            for (i = 0; i < matchups.length; i += 2) {
                matchups[i][0] = matchups[i][0] + "-" + matchups[i][1];
                matchups[i][1] = matchups[i + 1][0] + "-" + matchups[i + 1][1];
                newMatchups.push(matchups[i]);
            }
            matchups = newMatchups;
        }
        
        curRound += 1;
    }
    
    // Setup text listeners for all inputs
    for (i = 0; i < allInputs.length; i += 1) {
        allInputs[i].onkeypress = verifyInput;
    }
};

app.setup();
</script>