<header>
    <h1>NBA 2017 Post Season Bracket</h1>
</header>

<article>
    <ol class="west round1">
        <li class="seed1">
            <div>
            	<span class="rank">1</span>
                <img src="src/img/bracket/nba/Golden_State_Warriors.svg">
            </div>
        </li>
        <li class="seed8">
            <div>
            	<span class="rank">8</span>
                <img src="src/img/bracket/nba/Portland_Trail_Blazers.svg">
            </div>
        </li>
        <li class="seed4">
            <div>
            	<span class="rank">4</span>
                <img src="src/img/bracket/nba/Clippers.svg">
            </div>
        </li>
        <li class="seed5">
            <div>
            	<span class="rank">5</span>
                <img src="src/img/bracket/nba/Utah_Jazz.svg">
            </div>
        </li>
        <li class="seed2">
            <div>
            	<span class="rank">2</span>
                <img src="src/img/bracket/nba/San_Antonio_Spurs.svg">
            </div>
        </li>
        <li class="seed7">
            <div>
            	<span class="rank">7</span>
                <img src="src/img/bracket/nba/Memphis_Grizzlies.svg">
            </div>
        </li>
        <li class="seed3">
            <div>
            	<span class="rank">3</span>
                <img src="src/img/bracket/nba/Houston_Rockets.svg">
            </div>
        </li>
        <li class="seed6">
            <div>
                <span class="rank">6</span>
                <img src="src/img/bracket/nba/Oklahoma_City_Thunder.gif">
            </div>
        </li>
    </ol>
    
    <ol class="west round2">
        <li class="seed1-8">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed4-5">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed2-7">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="west round3">
        <li class="seed1-8-4-5">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed2-7-3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="west round4">
        <li class="seed1-8-4-5-2-7-3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="champion">
        <li class="seed1-8-4-5-2-7-3-6-1-8-4-5-2-7-3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="east round1">
        <li class="seed1">
            <div>
            	<span class="rank">1</span>
                <img src="src/img/bracket/nba/Boston_Celtics.svg">
            </div>
        </li>
        <li class="seed8">
            <div>
            	<span class="rank">8</span>
                <img src="src/img/bracket/nba/Chicago_Bulls.svg">
            </div>
        </li>
        <li class="seed4">
            <div>
            	<span class="rank">4</span>
                <img src="src/img/bracket/nba/Washington_Wizards.svg">
            </div>
        </li>
        <li class="seed5">
            <div>
            	<span class="rank">5</span>
                <img src="src/img/bracket/nba/Atlanta_Hawks.svg">
            </div>
        </li>
        <li class="seed2">
            <div>
            	<span class="rank">2</span>
                <img src="src/img/bracket/nba/Cleveland_Cavaliers.svg">
            </div>
        </li>
        <li class="seed7">
            <div>
            	<span class="rank">7</span>
                <img src="src/img/bracket/nba/Indiana_Pacers.svg">
            </div>
        </li>
        <li class="seed3">
            <div>
            	<span class="rank">3</span>
                <img src="src/img/bracket/nba/Toronto_Raptors.svg">
            </div>
        </li>
        <li class="seed6">
            <div>
            	<span class="rank">6</span>
                <img src="src/img/bracket/nba/Milwaukee_Bucks.svg">
            </div>
        </li>
    </ol>
    
    <ol class="east round2">
        <li class="seed1-8">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed4-5">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed2-7">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="east round3">
        <li class="seed1-8-4-5">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
        <li class="seed2-7-3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
    
    <ol class="east round4">
        <li class="seed1-8-4-5-2-7-3-6">
            <div>
                <img src="src/img/bracket/nba/Solid_white.svg">
                <form>
                    <input type="text" class="left">
                    <span>-</span>
                    <input class="right">
                </form>
            </div>
        </li>
    </ol>
</article>

<button id="submitBracket" (click)="submitBracket($event)"> Submit Bracket </button>